Rlib
common/
bin/bowtie-buildc
bin/htseq-count
bin/htseq-qa
bin/macs2
bin/R
bin/awk
bin/Rscript
bin/piPipes_phasing
bin/piPipes_bed2Summary
bin/piPipes_bed2_to_bedGraph
bin/piPipes_calculate_miRNA_heterogeneity
bin/piPipes_fastq_to_insert
bin/piPipes_insertBed_to_bed2
bin/piPipes_local_ping_pong
lib
lib64
share
.idea/
cmake-build-debug/
build/